<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8"> 
  <title>Vue</title>
  <script type="text/javascript" src="./node_modules/vue/dist/vue.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="./main.css">
</head>
<body>
  <div id="app" class="container">
    <div class="row">
      <div class="col-6">
        <div class="col-12">
          <hr />
          <div class="form-group">
            <label>Red : </label>
            <input class="form-control" v-model="red" type="number" />
          </div>
          <hr />
          <div class="form-group">
            <label>Green : </label>
            <input class="form-control" v-model="green" type="number" />
          </div>
          <hr />
          <div class="form-group">
            <label>Blue :</label>
            <input class="form-control" v-model="blue" type="number" />
          </div>
          <hr />
          <div class="col-12">
            <button class="btn btn-primary" v-on:click="saveSquare">Save</button>
            <button class="btn btn-secondary" v-on:click="reset">Cancel</button>
          </div>
          <hr />
            <h3> Number of squares : </h3>
          <hr />
          <div class="col-12" v-if="numberOfSquares">
            <div class="prevsquare"></div>
          </div>
          <h3 v-else > Add colors !</h3>
        </div>
      </div>
      <div class="col-6">
        <div class="square mx-auto" ></div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    new Vue({
      el:'#app',
      data: {
        red: 0,
        green: 0,
        blue: 0,
        squares: []
      },
      methods: {
        resetColors(){
          // So we don't have to repeat ourselves in next methods
          this.red = 0;
          this.green = 0;
          this.blue = 0;
        },
        saveSquare(){
          // Everytime the "Save" button is clicked, the new rgb string is saved in the squares array
          this.squares.push(`rgb(${ this.red },${ this.green },${ this.blue })`);
          console.log(this.squares);
          // And we reset the rgb input values to 0
          this.resetColors()
        },
        reset(){
          // Simply reset all data values to 0
          this.squares = [];
          this.resetColors()
        }
      },
      computed: {
        // Here, we use computed and not methods so the squares array length can be noticed
        numberOfSquares() {
          return this.squares.length
        }
      }
    })
  </script>
</body>
</html>
